#homework-title{
    font-size: 24px;
    font-weight: 400;
    
}

#homework-matiere{
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}
::ng-deep /* to penetrate <ngx-editor> CSS styling */

  .NgxEditor {
    height: 250px;
    overflow-y: scroll;
  }

  .NgxEditor__Content {
    min-height: 250px; /* make all of the editor area clickable */
  }
