<div class="row ">
    <div class="col-md-3">
        <app-shortcuts></app-shortcuts>
    </div>
    <div class="col-md-7 mt-6">
     
        <div class="post-container">
            <div class="title-box my-2">
                <p id="homework-title">Remplir la formulaire homework pour génerer un homework : </p>
            </div>
            <form (ngSubmit)="onSubmit1()" [formGroup]="postForm" >
      
                <div class="form-group">
                    <label for="url">Nom du test : </label>
                    <input  type="text" class="form-control"  formControlName="NameHomework" id="NameHomework"> 
                </div>
                <div class="form-group mb-2">
                    <label for="url">Matiére :</label>
                    <input  type="text" id="file"class="form-control" formControlName="matiere" id="matiere"> 
                </div>
                <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                    <ngx-editor height="1000px" minHeight="50px"
                        [editor]="editor"
                        height="100px" minHeight="50px"
                        formControlName="description" id="description"
                        [placeholder]="'Type here...'"
                    ></ngx-editor>
                    </div>
                    <button type="submit" class="btn-purplee mt-3 float-end">Envoyer </button>
                    <br><br>
            </form>
        </div>
    </div>
</div>   
