<section id="home-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 border-right">
                <p id="title-text">Start Your Own Socail Page <br>With Brandname</p>
                <p class="text-sec">This theme was design for fast load and privacy protection</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 text-center" >
                <div class="text-field">
                    <p id="SignIn">Forgot Password</p>
                    <p id="text-sec">Please enter your email address. You will receive a link to create a new password via email </p>
                </div>
                <form class="form mt-5" (ngSubmit)="sendEmail()" [formGroup]="emailForm">
                
                    <div class="form-group">
                        <label id="passwordLabel">Email</label>
                        <input type="text" name="password" class="inputFiled" id="password" formControlName="email" >
                        <span *ngIf="f.email.errors?.email && f.email.touched">Email is invalid</span>
                        <span *ngIf="f.email.errors?.required && f.email.touched">Email is required</span>
                    </div>
             
               
                    <button class="btn-purple mt-5"[disabled]="emailForm.invalid" >Send</button>
                </form><br>
                <a id="agree-text" href="#">Remembered my password</a>

            </div>
        </div>
    </div>
</section>

