<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-6">
        <div class="d-flex">
            <img src="../../../assets/img/user.jpg" alt="Image" id="user-size">
            <p id="user-nameSettings">Change Image </p>
        </div>
        <div class="form-group mt-3">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><strong>Name</strong></label>
                    <input type="password" name="password" class="inputFiled-setting" placeholder="Your Name..." id="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><strong>Email</strong></label>
                    <input type="password" name="password" class="inputFiled-setting" placeholder="Email" id="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><strong>Password</strong></label>
                    <input type="password" name="password" class="inputFiled-setting mt-2" placeholder="Current Password" id="password">
                    <input type="password" name="NewPassword" class="inputFiled-setting my-2" placeholder="New Password" id="NewPassword">
                    <input type="password" name="ConfirmPassword" class="inputFiled-setting mb-2" placeholder="Confirm Password" id="ConfirmPassword">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><strong>Phone Number</strong></label>
                    <input type="password" name="password" class="inputFiled-setting" placeholder="Add your phone number for security" id="password">
                </div>
                <button class="btn-purple-settings">save</button>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>    