<nav class="navbar navbar-light border-bottom fixed-top">
    <div class="container-fluid">
        <div class="logo-bar">
            <a class="navbar-brand">BrandName Logo</a>
        </div>
        <div class="icons-bar">
            <a (click)="showToggleSearch()"><i class="fas fa-search mx-4 pointer-curse"  ></i></a>
            <a [routerLink]="['accueil']" ><i class="fas fa-home mx-4 pointer-curse"></i></a>
            <a><i class="fas fa-plus-circle mx-4 pointer-curse"></i></a>
            <a><i class="far fa-envelope mx-4 pointer-curse" (click)="showToggleNotification()"></i></a>
            <a (click)="showToggleNotification()"><i class="far fa-bell mx-4 pointer-curse"   ></i></a>
            <a  (click)="showToggleUser()"> <i class="fas fa-bars mx-4 pointer-curse"></i></a>
        </div>
    </div>
</nav>
<div class="mt-5">
    <div *ngFor="let message of messages.message">
        <div class="message-box">
            <img src="../../../assets/img/user.jpg" alt="Image" id="notification-size">
            <p id="notification-id">{{message}}</p>
        </div>
    </div>
</div> 
<div class="notification-area" id="notification-area sticky-top" *ngIf="showNotification">
    <div class="text-left">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="notification-name">
        <p id="notification-text">Notification</p>
        <div class="notification-user" *ngFor='let noti of notifications'> 
            <div class="user-notification">
                <img src="../../../assets/img/user.jpg" alt="Image" id="notification-size">
                <p id="notification-id">{{noti.user}}</p><br>
                <p id="notification-style">{{noti.notification[0].context}}</p>
            </div>
        </div>
    </div>
</div> 
<div class="user-area" *ngIf="showUser">
    <div class="user-name">
        <div class="text-left">
            <i class="fas fa-arrow-left"></i>
        </div>
            <div class="text-center my-2">
                <img src="../../../assets/img/user.jpg" alt="Image" id="user-size">
                <p id="user-name">Users Name</p>
                <p id="text-follower">135 followers  |   24 following</p>
            </div>
            <div class="user-list">
                <ul class="list-name">
                    <li class="my-4"><p class="listed-item"><i class="fas fa-user-circle fa-lg me-4"></i>View profile</p></li>
                    <li class="my-4"><p class="listed-item"><i class="fas fa-globe fa-lg me-4"></i>Online Status</p></li>
                    <li class="my-4"><p class="listed-item"><i class="fas fa-unlock fa-lg me-4"></i>Private account</p></li>
                    <li class="my-4"><p class="listed-item"><i class="fas fa-bell fa-lg me-4"></i>Notification</p></li>
                    <li class="my-4"><p class="listed-item"><i class="fas fa-envelope fa-lg me-4"></i>Messages</p></li>
                    <li class="my-4"><p class="listed-item"><i class="fas fa-cog fa-lg me-4"></i>Settings</p></li>
                </ul>
            </div>
    </div>
</div> 
 <div class="user-area" *ngIf="showSearch">
    <div class="user-name">
        <div class="text-left mb-5">
            <i class="fas fa-arrow-left"></i>
        </div>
    </div>
    <div class="input-area mx-4">
        <input type="text" name="searchUser" id="searchUser" class="inputFiled">
    </div>
    <div class="user-find mt-4" >
        <div class="user-search">
            <img src="../../../assets/img/user.jpg" alt="Image" id="notification-size">
            <p id="notification-id">Users Name</p>
            <p id="notification-style">Matiére a etudier</p>
        </div>
        <div class="user-search">
            <img src="../../../assets/img/user.jpg" alt="Image" id="notification-size">
            <p id="notification-id">Users Name</p>
            <p id="notification-style">Matiére a etudier</p>
        </div>
    </div>

</div> 