<nav class="navbar navbar-light border-bottom fixed-top">
    <div class="container-fluid">
        <div class="logo-bar">
            <a class="navbar-brand">BrandName Logo</a>
        </div>
        <div class="icons-bar">
            <i class="fas fa-search mx-4 pointer-curse"></i>
            <i class="fas fa-home mx-4 pointer-curse"></i>
            <i class="fas fa-plus-circle mx-4 pointer-curse"></i>
            <i class="far fa-envelope mx-4 pointer-curse"></i>
            <i class="far fa-bell mx-4 pointer-curse" (click)="showNotification()"></i>
            <i class="fas fa-bars mx-4 pointer-curse"></i>
        </div>
    </div>
</nav>