<div class="row">
        <div class="col-md-3">
            <app-shortcuts></app-shortcuts>
        </div>
        <div class="col-md-6">
            <div *ngIf="onlineUser.accountStatus == 'teacher'">

            <div class="container mt-6">
                <div *ngFor="let gID of homework">
                    <div class="row my-2 d-flex post-container ">
                        <div class="col-2 align-self-center text-center">
                            <i class="fas fa-book fa-lg" style="color:#8E2995;border-radius:50% ;border: 1px solid #8E2995; padding: 15px;"></i>
                        </div>
                            <div class="col-9 align-self-center">
                                <a *ngIf="onlineUser.accountStatus == 'student'" [routerLink]="['/homeWork', gID._id]">Professeur: {{gID.userId.firstName}} {{gID.userId.lastName}}</a><br>
                                <a *ngIf="onlineUser.accountStatus == 'teacher'" [routerLink]="['/oneHomework', gID._id]">Professeur: {{gID.userId.firstName}} {{gID.userId.lastName}}</a><br>
    
                                <p >Matiére: {{gID.matiere}}</p>
                                <p >Date: {{gID.createdAt | date:'MM-dd-yyyy HH:mm:ss'}}</p>
                            </div>
                            <div class="col-1 align-self-center">
                                <i class="fas fa-trash" *ngIf="this.onlineUser.accountStatus === 'teacher'"></i>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div *ngIf="homework?.length == 0" class="mt-6">
                    <div class="dataNot">
                        <img src="../../../assets/img/nodata.jpg" alt="no data" id="notfound"> 

                    </div>
                </div> 
            </div>
            <div *ngIf="onlineUser.accountStatus == 'student'">
                <div class="container mt-6">
                    <div *ngFor="let gID of checkUser?.homework">
                        <div class="row my-2 d-flex post-container ">
                            <div class="col-2 align-self-center text-center">
                                <i class="fas fa-book fa-lg" style="color:#8E2995;border-radius:50% ;border: 1px solid #8E2995; padding: 15px;"></i>
                            </div>
                                <div class="col-9 align-self-center">
                                    <a *ngIf="onlineUser.accountStatus == 'student'" [routerLink]="['/homeWork', gID._id]">Professeur: {{gID.userId.firstName}} {{gID.userId.lastName}}</a><br>
                                    <a *ngIf="onlineUser.accountStatus == 'teacher'" [routerLink]="['/oneHomework', gID._id]">Professeur: {{gID.userId.firstName}} {{gID.userId.lastName}}</a><br>
                                    <p >Matiére: {{gID.matiere}}</p>
                                    <p >Date: {{gID.createdAt | date:'MM-dd-yyyy HH:mm:ss'}}</p>
                                </div>
                           
                            </div>
                          
                        </div>
                   
                    </div>
               
            </div>
     
        </div>
        <div class="col-md-3" >
            <app-user-online></app-user-online>
        </div>
</div>

 