<div *ngIf="showPopUp">
    <div class="card">
        <div class="card-body">
                <div class="card-title">
                    <div class="online-id">
                        <p>Online user</p>
                        <i class="far fa-times-circle curser-pointer" (click)="exitPopUp()"></i>
                    </div>
                </div>
                    <div class="box-chat px-4">
                        <div class="box-message-sender mt-4">
                            <p class="text-message">Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock, is an American-Canadian[1] actor </p>
                            <div class="d-flex justify-content-start">
                                <img src="../../../assets/img/user.jpg" alt="image" id="img-message">
                            </div>
                            <div class="time-message">
                                <p class="time-text">2 jun 2020     7.51 PM</p>
                            </div>
                        </div>
                        <div class="receiver-box">
                            <div class="box-message-receiver mt-4">
                                <p class="text-message">Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock, is an American-Canadian[1] actor 
                                    </p>
                                <div class="image-message ">
                                    <img src="../../../assets/img/user.jpg" alt="image" id="img-message">
                                </div>
                            
                            </div>
                            <div class="time-message">
                                <p class="time-text">2 jun 2020     7.51 PM</p>
                            </div>
                    </div>
                </div>
                <div class="bg-light px-4">
                    <form [formGroup]="messageForm"> 
                        <input  class="inputFiled my-2" id="send" type="text" formControlName="message"/>
                        <button (click)="onSubmit()"class="btn-purple">Send </button>

                    </form>
                </div>
                    </div>
                
                </div>
            </div>                
      