<div *ngIf="showPopUp">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                    <div class="online-id">
                        <p>Online user</p>
                        <a routerLink="/messenger/60651c9beacb9b357c2ba657">Afficher toutes la conversation</a>
                        <i class="far fa-times-circle curser-pointer" (click)="exitPopUp()"></i>
                     
                    </div>
                </div>
                    <div class="box-chat px-4">
                        <div class="box-message-sender mt-4">
                            <p class="text-message"></p>
                            <div class="d-flex justify-content-start">
                                <img src="../../../assets/img/user.jpg" alt="image" id="img-message">
                            </div>
                            <div class="time-message">
                                <p class="time-text">2 jun 2020     7.51 PM</p>
                            </div>
                        </div>
                        <div class="receiver-box">
                            <div class="box-message-receiver mt-4">
                                <p class="text-message"></p>
                                <div class="image-message ">
                                    <img src="../../../assets/img/user.jpg" alt="image" id="img-message">
                                </div>
                            </div>
                            <div class="time-message">
                                <p class="time-text">2 jun 2020     7.51 PM</p>
                            </div>
                        </div>
                    </div>
                <div class="bg-light px-4">
                    <form > 
                        <input  class="inputFiled my-2" id="send" type="text" [(ngModel)]="messages" name="messages"/>
                        <button (click)="startConversation(idReceiver)"class="btn-purple">Send </button>
                    </form>
             </div>
        </div>
    </div>   
</div>                           
      