<section id="home-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 border-right ">
                <div>
                    <img src="../../../assets/img/Sans-titre-1.png" id="logo">

                    <p id="title-text">Rejoinez Réseau Social Académique <br><span id="title-text" style="color:#ad5af3;margin:0">UNINET</span></p>
                    <p class="text-sec">Notre plateforme facilite votre vie universitaire ou scolaire et vous permet d'avoir un contact direct avec le milieu votre académique.</p>
                </div>
                
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 signup-container">
                <div class="text-field my-4 text-center" >
                    <p id="SignIn">se connecter</p><br>
                    <p id="text-sec">Don’t have an a account?  <a href="./signUp" id="text-purple">Sign Up</a></p>
                </div>
                <form class="form" [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
                    <div class="form-group mt-4 ">
                        <label id="emailLabel">Email</label>
                        <input type="text" name="email" class="inputFiled" id="email" formControlName="email">
                        <span *ngIf="errors?.email">{{errors.email}}</span>
                    </div>
                    <div class="form-group mt-4">
                        <label id="passwordLabel">Password</label>
                        <input type="password" name="password" class="inputFiled" id="password" formControlName="passowrd">
                        <span *ngIf="errors?.password">{{errors.password}}</span>
                    </div>
                    <button class="btn-purple mt-4"  [disabled]="userForm.invalid"> Sign In</button>
                </form><br>
                <div class="text-center" >
                    <a id="agree-text" href="#">forgot my password ?</a>
                </div>
           
            </div>
        </div>
    </div>
</section>

