<section id="home-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 border-right">
                <p id="title-text">Start Your Own Socail Page With Brandname</p>
                <p class="text-sec">This theme was design for fast load and privacy protection</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-center" >
                <div class="text-field mb-4">
                    <p id="SignIn">Sign In</p>
                    <p id="text-text">Don’t have an a account?  <span id="text-purple">Sign Up</span></p>
                </div>
                <form class="form">
                    <div class="form-group mt-4 ">
                        <label id="emailLabel">Email</label>
                        <input type="text" name="email" class="inputFiled" id="email">
                    </div>
                    <div class="form-group mt-4">
                        <label id="passwordLabel">Password</label>
                        <input type="password" name="password" class="inputFiled" id="password">
                    </div>
                    <button class="btn-purple mt-4">Sign In</button>
                </form><br>
                <a class="text-sec pt-3" href="#">forgot my password</a>
            </div>
        </div>
    </div>
</section>

