<div class="profile-area">
    <div class="text-center my-5">
        <img src="../../../assets/img/user.jpg" alt="Image" id="user-size">
        <p id="user-name">Users Name</p>
        <p id="text-follower">Professeur & matiére ou Etudiant & class</p>
    </div>
    <div class="my-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6 mb-4">
                <div class="text-description">
                    <p id="user-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis suscipit leo, non sodales sapien suscipit ornare.
                        Morbi hendrerit est sed nibh bibendum, eu bibendum nibh rhoncus. Integer a ex semper, </p>
                </div>
                <div class="saved-posts">
                    <div class="d-flex">
                        <div class="number-posts me-4">
                            <p class="posts-text"><span>325</span>
                            Posts</p>
                        </div>
                        <div class="number-posts mx-4">
                            <p class="posts-text"><span>325</span>
                            Photos</p>
                        </div>
                        <div class="number-posts mx-4">
                            <p class="posts-text"><span>325</span>
                            Videos</p>
                        </div>
                    </div>
                </div>
               
                    <app-post-child></app-post-child>

            </div>
        </div>
       
    </div>
</div>
