
    <div class="row ">
        <div class="col-md-3">
            <app-shortcuts></app-shortcuts>
        </div>
        <div class="col-sm-12 col-lg-6 mb-4">
    <div class="profile-area">
    <div class="text-center my-5">
        <img src="../../../assets/img/user.jpg" alt="Image" id="user-size">
        <p id="user-name">{{profilOwner?.firstName}} {{profilOwner?.lastName}}</p>
        <p id="text-follower" class="my-2">Professeur & matiére ou Etudiant & class</p>
    </div>
    <div class="my-5">
        <div class="text-description">
     
            
                <button type="button" class="btn btn-secondary my-2 float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    créer groupe
                  </button>
                  <br>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Créer un nouveau Groupe :</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form  (ngSubmit)="onSubmit2()" [formGroup]="addForm">
                                <div class="form-group">
                                    <label for="niveau">Choisir un nom:</label>
                                    <input formControlName='nomGroup' class="form-control" id="nomGroup">                
                                 </div>
                                 <div class="d-flex">
                                     
                                     <button type="submit" class="btn btn-purplee my-2">Submit</button>
                                     <p class="text text-success align-self-center ms-0" *ngIf="newdata">Groupe creé avec succées ! </p>
                                 </div>
                              </form>
                        </div>
                     
                      </div>
                    </div>
                  </div>

                </div>
            <div *ngFor="let userFeed of userFeeds; let i = index">
                 <div *ngFor="let post of userFeed.userFeed; let i = index">

                <div class="post-container">
                    <div class="d-flex mb-2">
                        <img src="../../../assets/img/user.jpg" alt="Image" id="user-size">
                        <a id="user-id" href="user/{{post.user._id}}">{{post.user.firstName}} {{post.user.lastName}}</a>
                    </div>
                    <div class="image-container" *ngIf="post.src != null">
                        <img src="http://localhost:3000/uploads/FunOfHeuristic_{{post.src}}" id="img-size"alt="Post name">
                    </div>
                        <p id="user-posts">{{post.content}}</p>
                        <p id="hours-spent">{{post.date}}</p>
                        <div class="d-flex reaction-container">
                            <div class="like-container mr-2">
                                <a (click)="getLike(post._id)" data-bs-toggle="modal" data-bs-target="#exampleModal1"  class="curser-pointer">{{post.upvotes.length}}</a><i class=" curser-pointer fas fa-check" style="color:green" (click)="onUpvote(post._id)"></i>
                            </div>
                            <div class="comments-container mx-2">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onSend(post._id)">{{allComments.length}}<i class="far fa-comment-alt"></i></a>
                            </div>
                            <div class="save-container">
                                <p>3<i class="fas fa-share-alt mx-2"></i></p>
                            </div>
                            <div class="dots-container mx-2">
                                <i class="curser-pointer fas fa-trash-alt" *ngIf="post.user._id == onlineUser._id || post.user == onlineUser._id"  (click)="deletePost(post._id)"></i>
                            </div>
                        </div>
                </div>
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title"  id="exampleModalLabel">Likes</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <div class="row" *ngFor='let upvote of upvotes'>
                                <div class="col-2">
                                    <img src="../../../assets/img/user.jpg" alt="Image" id="user-comment">
                                </div>
                                <div class="col-9">
                                    {{upvote.userId.firstName}}
                                </div>
                            </div>
                            <form (ngSubmit)="onSubmit(post._id)" [formGroup]="commentForm">
                                <textarea type="text" class="form-control" id="commentPost" formControlName="commentUser"  ></textarea>
                                <button type="submit"class="btn btn-danger">Post</button>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>  
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title"  id="exampleModalLabel">Comments</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <div class="row" *ngFor='let comment of allComments'>
                               
                                    <div class="col-2">
                                       
                                        <img src="../../../assets/img/user.jpg" alt="Image" id="user-comment">
                                       
                                    </div>
                                    <div class="col-10">
                                        <div class="d-flex justify-content-between">
                                            <div class="comments">
                                                <p>{{comment.userId.email}}</p>
                                                <p id="user-posts">{{comment.commentContent}}</p>
                                                <p id="hours-spent">{{comment.dateComment}}</p>
                                            </div>
                                            <div class="deletePost">
                                                <i class="fas fa-trash-alt" (click)="onDelete(comment._id)"></i>
                                            </div>
                                        </div>
                                    </div>
                           
                            </div>
                            <form (ngSubmit)="onSubmit(post._id)" [formGroup]="commentForm">
                                <textarea type="text" class="form-control" id="commentPost" formControlName="commentUser"  ></textarea>
                                <button type="submit"class="btn btn-danger">Post</button>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>  
                </div>
                </div>

            </div>
         
            </div>
        </div>
        <div class="col-md-3" >
            <app-user-online></app-user-online>
        </div>
</div>

