<div class="mt-6">
    <div class="post-container">
        
        <form (ngSubmit)="onSubmit1()" [formGroup]="postForm"  enctype="multipart/form-data">
            <div class="row">
                <div class="col-1">
                    <img src="../../../assets/img/user.jpg" alt="Image" id="user-size" style="float:left" class="mt-2">
                </div>
                <div class="col-11">
                    <textarea type="text" class="form-control" id="userPost" formControlName="userPost" ></textarea>
                    <div class="d-flex justify-content-end mt-2">
                        <input type="file" class="form-control" id="userFile" formControlName="userFile"  name="userFile"  (change)="selectImage($event)" >
                        <label id="labelFile" for ="userFile">
                            <i class="fas fa-file-upload fa-2x mx-2 mt-1" style=" color: #392DD1"></i>
                        </label>
                        <button type="submit"class="btn btn-purplee">Partager</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="fulfilling-bouncing-circle-spinner" *ngIf="showSpinner">
    <div class="circle"></div>
    <div class="orbit"></div>
</div>

<div *ngFor="let post of allPost; let i = index" >
<div class="post-container">
    <div class="d-flex ">
        <img src="http://localhost:3000/uploads/FunOfHeuristic_122458773_631826390823104_2423290600675311365_n.jpg" alt="Image" id="user-size">
        <div class="mx-2">
            <p id="user-id">{{post?.user.firstName}}</p>
            <p id="hours-spent">{{post.date | date:'MM-dd-yyyy HH:mm:ss'}}</p>
        </div>
   
    </div>
    <div class="image-container" *ngIf="post.src">
        <div *ngIf="post?.type == 'image'" >
            <img  src="http://localhost:3000/uploads/FunOfHeuristic_{{post.src}}" id="img-size"alt="Post name">

        </div>
        <div  *ngIf="post?.type == 'video'" > 
            <video  width="100%" height="300" controls="controls">
                <source src="http://localhost:3000/uploads/FunOfHeuristic_{{post.src}}" type="video/mp4">    
            </video>
          
            
        </div>
  
    </div>
    <div class="my-4">
        <p id="user-posts">{{post.content}}</p>
        <p id="user-posts">{{post.src}}</p>
    </div>
    

        <div class="d-flex reaction-container">
            <div class="like-container mr-2">
                <a (click)="getLike(post._id)"   class="curser-pointer ancre-reaction">{{post.upvotes.length}}</a><i class=" curser-pointer fas fa-check fa-lg  px-2" style="color:green" (click)="onUpvote(post._id,post.user._id)"></i>
            </div>
            <div class="comments-container mx-2">
                <a class="curser-pointer ancre-reaction" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onSend(post._id)">{{post.comments.length}}<i class="far fa-comment-alt fa-sm  px-2"></i></a>
            </div>
            <div class="save-container">
                <a class="curser-pointer ancre-reaction" (click)="getShare(post._id)"><i class="fas fa-share-alt fa-sm mx-2 px-2" ></i></a>
            </div>
            <div class="dots-container mx-2">
                <i class="curser-pointer fas fa-trash-alt fa-sm" *ngIf="post.user._id == onlineUser._id || post.user == onlineUser._id"  (click)="deletePost(post._id)"></i>
            </div>
        </div>
</div>
<!-- <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"  id="exampleModalLabel">Likes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="row" *ngFor='let upvote of upvotes'>
                <div class="col-2">
                    <img src="../../../assets/img/user.jpg" alt="Image" id="user-comment">
                </div>
                <div class="col-9">
                    {{upvote.userId.firstName}}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>   -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"  id="exampleModalLabel">Comments</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
   
            <div class="row" *ngFor='let comment of allComments'>
               
                    <div class="col-2">
                       
                        <img src="../../../assets/img/user.jpg" alt="Image" id="user-comment">
                       
                    </div>
                    <div class="col-10">
                        <div class="d-flex justify-content-between">
                            <div class="comments">
                                <p>{{comment.userId.email}}</p>
                                <p id="user-posts">{{comment.commentContent}}</p>
                                <p id="hours-spent">{{comment.dateComment}}</p>
                            </div>
                            <div class="deletePost">
                                <i class="fas fa-trash-alt" (click)="onDelete(comment._id)"></i>
                            </div>
                        </div>
                    </div>
           
            </div>
            <div class="text-center mt-3 spinner">
                <div class="hollow-dots-spinner " :style="spinnerStyle" *ngIf="spin">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </div>
            </div>
       
            <form (ngSubmit)="onSubmit(post._id,post.user._id)" [formGroup]="commentForm">
                <textarea type="text" class="form-control" id="commentPost" formControlName="commentUser"  ></textarea>
                <button type="submit"class="btn btn-danger">Post</button>
            </form>
        </div>
    </div>
  </div>
</div>  
</div>