<div class="user-container">
<div class="row mt-5">
    <div class="online-user">
        <div class="user-online-text">
            <p id="online-text">Online User</p>
        </div>
            <div *ngIf="users">
                <div class="online-user" (click)="startPopUp()">
                    <div *ngFor="let onlineUsers of users ;let i = index" (click)="startConversation(onlineUsers,onlineUser._id)"class="notification-user">
                         <div class="user-notification" >
                            <img src="../../../assets/img/user.jpg" alt="Image" id="user-size" >
                            <div class="mx-5">
                            <p id="user-id">{{onlineUsers}}</p>
                            <p id="user-style">Online status</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
</div>
   
    
