<div class="user-container">
<div class="row mt-5">
    <div class="online-user">
        <div class="user-online-text">
            <p id="online-text">Online User</p>
        </div>
            <div *ngIf="users">
                <div class="online-user"  >
                    <div *ngFor="let onlineUsers of users ;let i = index" class="notification-user curser-pointer" (click)="startPopUp(i)" >
                         <div class="onlineUser" >
                            <img src="../../../assets/img/user.jpg" alt="Image" id="user-size" >
                            <div class="mx-5">
                            <p id="user-id">{{onlineUsers}}</p>
                            <p id="user-style">Online status</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="fixed-bottom">
        <div class="row">
            <div class="col-md-3 notification-user" *ngFor="let onlineUsers of users ;let i = index">
                    <app-pop-up  *ngIf='showTab == i'> </app-pop-up>
            </div>
        </div>
    </div>
</div>
</div>  
    


