<div class="row  mt-6">
    <div class="col-md-3 border-right">
        <div class="Messages mx-4">
            <p class="message-intro">Messages</p>
                <div class="notification-user">
                    <div class="user-notification">
                        <img src="../../../assets/img/user.jpg" alt="Image" id="notification-size">
                        <p id="notification-id">Users Name</p>
                        <p id="notification-style">Dwayne Douglas Johnson (born May 2, 1972), also known...</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-6 mt-5 px-0">
        <div class="Messages-box">
            <div class="sender-box">
                <div class="box-message-sender mt-4">
                    <p class="text-message">Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock, is an American-Canadian[1] actor </p>
                    <div class="d-flex justify-content-start">
                        <img src="../../../assets/img/user.jpg" alt="image" id="img-message">
                    </div>
                   
                </div>
                <div class="time-message">
                    <p class="time-text">2 jun 2020     7.51 PM</p>
                </div>
            </div>
            <div class="sender-box">
                <div class="box-message-sender mt-4">
                    <p class="text-message">Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock, is an American-Canadian[1] actor </p>
                    <div class="d-flex justify-content-start">
                        <img src="../../../assets/img/user.jpg" alt="image" id="img-message">
                    </div>
                   
                </div>
                <div class="time-message">
                    <p class="time-text">2 jun 2020     7.51 PM</p>
                </div>
            </div>
            <div class="sender-box">
                <div class="box-message-sender mt-4">
                    <p class="text-message">Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock, is an American-Canadian[1] actor </p>
                    <div class="d-flex justify-content-start">
                        <img src="../../../assets/img/user.jpg" alt="image" id="img-message">
                    </div>
                   
                </div>
                <div class="time-message">
                    <p class="time-text">2 jun 2020     7.51 PM</p>
                </div>
            </div>
            <div class="sender-box">
                <div class="box-message-sender mt-4">
                    <p class="text-message">Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock, is an American-Canadian[1] actor </p>
                    <div class="d-flex justify-content-start">
                        <img src="../../../assets/img/user.jpg" alt="image" id="img-message">
                    </div>
                   
                </div>
                <div class="time-message">
                    <p class="time-text">2 jun 2020     7.51 PM</p>
                </div>
            </div>
            <div class="receiver-box">
                <div class="box-message-receiver mt-4">
                    <p class="text-message-receiver">Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock, is an American-Canadian[1] actor 
                         </p>
                    <div class="image-message ">
                        <img src="../../../assets/img/user.jpg" alt="image" id="img-message">
                    </div>
                    <div class="time-message">
                        <p class="time-text">2 jun 2020     7.51 PM</p>
                    </div>
                </div>
                
            </div>
           
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="message-filed ">
            <input [(ngModel)]="message" class="inputFiled my-3" id="send" type="text"/>
            <button (click)="onSubmit()"class="btn-purple">Send </button>
        </div>
    </div>
   
</div>
