<div class="mt-6">
    <form (ngSubmit)="onSubmit1()" [formGroup]="postForm">
        <textarea type="text" class="form-control" id="userPost" formControlName="userPost"  ></textarea>
        <input type="file" class="form-control" id="userFile" formControlName="userFile" >
        <button type="submit"class="btn btn-danger">Post</button>
    </form>
</div>

<div *ngFor="let post of allPost,let i = index ">
<div class="post-container">
    <div class="d-flex mb-2">
        <img src="../../../assets/img/user.jpg" alt="Image" id="user-size">
        <p id="user-id">{{post.user}}</p>
    </div>
    <div class="image-container">
        <img src="../../../assets/img/image.jpg" id="img-size"alt="Post name">
    </div>
        <p id="hours-spent">{{post.date}}</p>
        <p id="user-posts">{{post.content}}</p>
        <div class="d-flex reaction-container">
            <div class="like-container mr-2">
                <p>5K <i class="far fa-heart"></i></p>
            </div>
            <div class="comments-container mx-2">
                <a href="#"  data-bs-toggle="modal" (click)="onSend(post._id)" data-bs-target="#exampleModal" >15 <i class="far fa-comment-alt"></i></a>
              
            </div>
            <div class="save-container">
                <p>3<i class="fas fa-share-alt mx-2"></i></p>
            </div>
            <div class="dots-container mx-2">
                <i class="curser-pointer fas fa-trash-alt  "*ngIf="post.user._id == onlineUser._id"  (click)="deletePost(post._id)"data-bs-toggle="modal" data-bs-target="#exampleModal1"></i>
            </div>
        </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"  id="exampleModalLabel">Comments</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="row" *ngFor='let comment of allComments'>
               
                    <div class="col-2">
                       
                        <img src="../../../assets/img/user.jpg" alt="Image" id="user-comment">
                       
                    </div>
                    <div class="col-10">
                        <div class="d-flex justify-content-between">
                            <div class="comments">
                                <p>{{comment.userId.email}}</p>
                                <p id="user-posts">{{comment.commentContent}}</p>
                                <p id="hours-spent">{{comment.dateComment}}</p>
                            </div>
                            <div class="deletePost">
                                <i class="fas fa-trash-alt" (click)="onDelete(comment._id)"></i>
                            </div>
                        </div>
                       
                        
                    </div>
           
            
            </div>
            <form (ngSubmit)="onSubmit(post._id)" [formGroup]="commentForm">
                <textarea type="text" class="form-control" id="commentPost" formControlName="commentUser"  ></textarea>
                <button type="submit"class="btn btn-danger">Post</button>
            </form>
        </div>
    </div>
  </div>
</div>  