<div class="shortcuts-container">
    <div class="row ">
        <div class="profil-owner mb-3">
            <div class="notification-user">
                <div class="user-notification">
                    <img src="../../../assets/img/user.jpg" alt="Image" id="notification-size">
                    <p id="notification-id">{{onlineUser.firstName}} {{onlineUser.lastName}}</p>
                </div>
            </div>
        </div>
        <div class="shortcuts-box row ">
            <a class="text-shortcuts"><i class="fas fa-users p-2"></i> Groupes</a>
            <ul class="group" *ngFor="let oneGroup of group">
                <li>{{oneGroup._id}}</li>
            </ul>
            <a class="text-shortcuts"><i class="fas fa-flag p-2"></i> Pages</a>
            <a class="text-shortcuts"><i class="fas fa-calendar-week p-2"></i>Evenement</a>
        </div>
    </div>
</div>