    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <app-posts></app-posts>
        </div>
        <div class="col-md-3 notification-area" id="notification-area">
            <div class="notification-section">
                <div class="text-left">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="notification-name">
                    <p id="notification-text">Notification</p>
                    <div class="notification-user">
                        <div class="user-notification">
                            <img src="../../../assets/img/user.png" alt="Image" id="notification-size">
                            <p id="notification-id">Users Name</p>
                            <p id="notification-style">started following you</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="view-user">
                    <div class="text-left">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="user-name">
                           <div class="view-user">
                            <div class="user-image">
                                <img src="../../../assets/img/user.png" alt="Image" id="notification-size">
                                <p id="user-id">Users Name</p>
                                <p id="notificuseration-style">135 followers  |   24 following</p>
                            </div>
                        </div>
                </div>
            </div>
        </div> -->
    </div>
